@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{box-sizing: border-box;}

html{
    font-size: 16px;
}

body{
    font-family: 'Noto Sans', 'Segoe UI', sans-serif;
}

body, h1, h2, p, figure, nav ul{
    margin: 0;
    padding: 0;
}

img{max-width: 100%;}

a{ text-decoration: none; color: aliceblue; letter-spacing: 5px;}

header{
    position: sticky;
    top: 0;
    z-index: 100;
}

ul {list-style: none;}

.limitador {
    width: 95vw;
    margin: auto;
    height: auto;
}

.container { 
    width: 80%;
    margin: 0 auto;
 }














body {
    /* background-color: blueviolet; */
    background-image: url(/imagens/imagen-de-fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

.seta-nav{
    width: 30px;
    opacity: 50%;
    transform: scale(1);
    transition: 0.3s;
}

.seta-nav:hover{
    transform: scale(1.2);
    transition: 0.3s;
}

/* ESTILIZAÇÂO DO CABEÇALHO */

.logo {
    width: 8%;
    border-radius: 50%;
}

.background-header{
    width:max-content;
    padding: 0;
    margin: 0;
    
}

header {
    background-color: #171717;
    display: flex;
    justify-content: space-between;
}

header img {
    width: 5vh;
}

header div{
    display: inline-block;
    align-items:baseline;
 
}

header div img{ width: 30px;}

header aside {display: flex;}










/* ESTILIZAÇÂO SEUS ARTISTAS FAVORITOS */

main{
    /* background-color: cornflowerblue; */
    
}

.art-favoritos {
    display: flex;

}

.art-favoritos img {
    max-width: none;
    width: 25vw;
}







/* ESTILIZAÇÂO TOCADAS RECENTEMENTE */
.tocada-recente {
    display: flex;
    width: 130vw;
    gap: 40px;

}

.tocada-recente img {box-shadow: #171717 2px 2px 15px;}






/* ESTILIZAÇÂO ESTILOS MUSICAIS */
.estilo-musical {
    display: flex;
    justify-content: space-between;
    width: 130vw;
    gap: 40px;
}

.estilo-musical img {box-shadow: #171717 2px 2px 15px;}





footer{
    background-color: #171717;
    color: aliceblue;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 8px;
    font-size: 12px;
    letter-spacing: 3px;
}
